{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "project_id": "healthfit-30d87",
    "storage_bucket": "healthfit-30d87.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROJECT_NUMBER:android:REPLACE_ME",
        "android_client_info": {
          "package_name": "com.healthfit.android"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
